<div class="menu__side" id="menu_side">

    <div class="name__page">
        <i class="fab fa-buffer works"></i>
        <h4>Sistema POS</h4>
    </div>

    <div class="options__menu">	

        <a href="/Index" class="selected">
            <div class="option">
                <i class="fas fa-home" title="Inicio" style="color:darkgoldenrod;"></i>
                <h4>Inicio</h4>
            </div>
        </a>

        <a href="/Perfil">
            <div class="option">
                <i class="far fa-file" title="Portafolio"></i>
                <h4>Perfil</h4>
            </div>
        </a>
        <a href="/Productos">
            <div class="option">
                <i class="fas fa-archive" title="Registros"></i>
                <h4>Productos</h4>
            </div>
        </a>

        <a href="../Pages/registro-form-factura.html">
            <div class="option">
                <i class="far fa-sticky-note" title="Blog"></i>
                <h4>Factura</h4>
            </div>
        </a>

        <a href="Clientes">
            <div class="option">
                <i class="far fa-id-badge" title="Contacto"></i>
                <h4>Cliente</h4>
            </div>
        </a>

        <a href="login.html">
            <div class="option">
                <i class="far fa-address-card" title="Nosotros"></i>
                <h4>Salir</h4>
            </div>
        </a>

    </div>

</div>