<div class="sidebar">
    <div class="logo-details">
        <!-- <i class='bx bxs-data icon'></i> -->
        <img class="icon" src="/img/logo.png" alt="" width="50" height="50">
        <div class="logo_name">Sistema POS</div>
        <i class='bx bx-menu' id="btn" ></i>
    </div>
    <ul class="nav-list">
      <li>
          <i class='bx bx-search' ></i>
         <input type="text" placeholder="Search...">
         <span class="tooltip">Buscar</span>
      </li>

      <li id="panel">
        <a href="/Index">
          <i class='bx bx-grid-alt'></i>
          <span  class="links_name">Inicio</span>
        </a>
         <span class="tooltip">Inicio</span>
      </li>

      <li id="perfil">
       <a href="/Perfil">
         <i class='bx bx-user' ></i>
         <span class="links_name">Gestionar usuarios</span>
       </a>
       <span class="tooltip">Gestionar usuarios</span>
     </li>
     
     <li id="/Productos">
        <a href="#">
         <i class='bx bx-archive'></i>
          <span class="links_name">Productos</span>
        </a>
        <span class="tooltip">Productos</span>
      </li>
 

     <li>
       <a href="/Facturas">
         <i class='bx bx-pie-chart-alt-2' ></i>
         <span class="links_name">Facturas</span>
       </a>
       <span class="tooltip">Facturas</span>
     </li>

     <li>
       <a href="/Clientes">
         <i class='bx bx-folder' ></i>
         <span class="links_name">Clientes</span>
       </a>
       <span class="tooltip">Clientes</span>
     </li>

     <li>
       <a href="#">
         <i class='bx bx-cog' ></i>
         <span class="links_name">Ajustes</span>
       </a>
       <span class="tooltip">Ajustes</span>
     </li>

     <li class="profile">
         <div class="profile-details">
           <img src="/img/perfil.png" alt="profileImg" width="200px" height="30px">
           <div class="name_job">
             <div class="name">Bienvenido</div>
             <div class="job">User</div>
           </div>
         
           <i class='bx bx-info-circle' id="log_out"></i>
     </li>
    </ul>
  </div>
