<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menú lateral responsive - MagtimusPro</title>
    <%- include('./layouts/headersidebar.ejs');  %>
    <link rel="stylesheet" href="/public/css/styles.css">
</head>

<body id="body">

  

    <%- include('./layouts/sidebar.ejs');  %> 

    <section class="home-section">
        <header>
            <div class="icon__menu">
                <i class="fas fa-bars" id="btn_open"></i>
            </div>
            <h1 class="tituloheader">Registrar Cliente</h1>
        </header>

        <form action="/ClientesRegistro" class="bordeporlados " method="POST" id="formcliente">
            <div class="form-group ">
                <label for="nombreCliente" class="col-sm-2 col-form-label">Nombre del cliente</label>
                <div class="col-sm-6 ">
                    <input type="text" class="form-control" id="nombreCliente" name="nombreCliente" placeholder="Juan Jimenez" required>
                </div>
            </div>
            <div class="form-group ">
                <label for="cedulaCliente" class="col-sm-2 col-form-label">Cédula del cliente</label>
                <div class="col-sm-6 ">
                    <input type="number" class="form-control" id="cedulaCliente" name="cedulaCliente" placeholder="1192804871" required>
                </div>
            </div>
            <div class="form-group ">
                <label for="direccionCliente" class="col-sm-2 col-form-label">Dirección del cliente</label>
                <div class="col-sm-6 ">
                    <input type="text" class="form-control" id="direccionCliente" name="direccionCliente" placeholder="Cra 16 # 56 - 8" required>
                </div>
            </div>
            <div class="form-group ">
                <label for="celularCliente" class="col-sm-2 col-form-label">Celular del cliente</label>
                <div class="col-sm-6 ">
                    <input type="number" class="form-control" id="celularCliente" name="celularCliente" placeholder="3043568926" required>
                </div>
            </div>
            <div class="form-group ">
                <label for="correoCliente" class="col-sm-2 col-form-label">Correo del cliente</label>
                <div class="col-sm-6 ">
                    <input type="text" class="form-control" id="correoCliente" name="correoCliente" placeholder="juanjimenez@gmail.com" required>
                </div>
            </div>
            <div class="form-group row-cols-10">
                <div class="p-2 col-sm-6">
                    <button type="submit" class="btn btn-primary">Ingresar</button>
                </div>
                <div class="col-sm-2">
                    <button  onclick="window.location.href='./Clientes'" class="btn btn-danger">Volver</button>
                </div>

            </div>

        </form>
    </section>

    <%- include('./layouts/scriptsidebar.ejs');  %> 
    <script>
        //Ejecutar función en el evento click
        document.getElementById("btn_open").addEventListener("click", open_close_menu);

        //Declaramos variables
        var side_menu = document.getElementById("menu_side");
        var btn_open = document.getElementById("btn_open");
        var body = document.getElementById("body");

        //Evento para mostrar y ocultar menú
            function open_close_menu(){
                body.classList.toggle("body_move");
                side_menu.classList.toggle("menu__side_move");
            }

        //Si el ancho de la página es menor a 760px, ocultará el menú al recargar la página

        if (window.innerWidth < 760){

            body.classList.add("body_move");
            side_menu.classList.add("menu__side_move");
        }

        //Haciendo el menú responsive(adaptable)

        window.addEventListener("resize", function(){

            if (window.innerWidth > 760){

                body.classList.remove("body_move");
                side_menu.classList.remove("menu__side_move");
            }

            if (window.innerWidth < 760){

                body.classList.add("body_move");
                side_menu.classList.add("menu__side_move");
            }

        });
    </script>
    
</body>

</html>