<!DOCTYPE html>
<!-- Created by CodingLab |www.youtube.com/c/CodingLabYT-->
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <title>Sistema POS</title>
    <%- include('./layouts/headersidebar.ejs');  %> 
   </head>
<body>
 

    <%- include('./layouts/sidebar.ejs'); %> 

    <section id="cargarPanel" id="cargarPerfil" id="cargarProductos" class="home-section">
        <div class="text">/Inicio</div>
      </section>
  

    <script>

        function ajax(url){
            const http = new XMLHttpRequest();
            http.onreadystatechange = function(){
                if(this.readyState == 4 && this.status == 200){
                            // console.log(this.responseText);
                            document.getElementById("cargarPanel").innerHTML = this.responseText;
                            document.getElementById("cargarPerfil").innerHTML = this.responseText;
                            document.getElementById("cargarProductos").innerHTML = this.responseText;
                            document.getElementById("").innerHTML = this.responseText;
                }
            }
            http.open("GET", url);
            http.send();
        }
        document.getElementById("panel").addEventListener('click', function(){
            
            ajax('./AjaxRequest/panel.html');
        });
        
        document.getElementById("perfil").addEventListener('click', function(){
            ajax('/Perfil');
        });

        document.getElementById("productos").addEventListener('click', function(){
            ajax('./AjaxRequest/productos.html')
        });
    </script>
    <!-- <script>
        $(document).ready(function (){
            $("panel").click(function(e){
                e.preventDefault();
                $.get("./AjaxRequest/panel.html",function(data,textStatus,jqXHR){
                    console.log(data);
                    console.log(textStatus);
                    console.log(jqXHR);
                });
            }) ;
        });
    </script> -->
    <%- include('./layouts/scriptsidebar.ejs'); %> 
</body>
</html>
