<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>POS</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
    <!-- Booststrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!--  /Booststrap -->
    <link rel="stylesheet" href="/css/index2.css">
    
   
    <script src="https://kit.fontawesome.com/41bcea2ae3.js" crossorigin="anonymous"></script>
</head>
<body id="body">
    
    <header>
        <div class="icon__menu">
            <i class="fas fa-bars" id="btn_open"></i>
        </div>
        <h1 class="tituloheader">Inicio</h1>
    </header>

    <div class="menu__side" id="menu_side">

        <div class="name__page">
            <i class="fab fa-buffer works"></i>
            <h4>Sistema POS</h4>
        </div>

        <div class="options__menu">	

            <a href="/Index" class="selected">
                <div class="option">
                    <i class="fas fa-home" title="Inicio" style="color:darkgoldenrod;"></i>
                    <h4>Inicio</h4>
                </div>
            </a>

            <a href="/Perfil">
                <div class="option">
                    <i class="far fa-file" title="Portafolio"></i>
                    <h4>Perfil</h4>
                </div>
            </a>
            <a href="/Productos">
                <div class="option">
                    <i class="fas fa-archive" title="Registros"></i>
                    <h4>Productos</h4>
                </div>
            </a>

            <a href="../Pages/registro-form-factura.html">
                <div class="option">
                    <i class="far fa-sticky-note" title="Blog"></i>
                    <h4>Factura</h4>
                </div>
            </a>

            <a href="Clientes">
                <div class="option">
                    <i class="far fa-id-badge" title="Contacto"></i>
                    <h4>Cliente</h4>
                </div>
            </a>

            <a href="login.html">
                <div class="option">
                    <i class="far fa-address-card" title="Nosotros"></i>
                    <h4>Salir</h4>
                </div>
            </a>

        </div>

    </div>

    <main>
        <h1>Sistema POS</h1><br>
        <p>Inicia en nuestro sistema de registros en el menu lateral izquierdo</p> <br>

       
    </main>

    <script src="/js/menu.js"></script>
     
        
</body>
</html>