/* .bordeporlados {
    margin: 5% 10%;
    border: 1px solid #6c757d00;
    padding: 2%;
    border-radius: 15px;
    box-shadow: 0 0 8px #00000030;
    text-align: center;
}

.file-select {
    width: 84%;
}

.input_edit {
    text-align: center;
    align-items: center;
}

.btn {
    width: 80%;
}

.header {
    -webkit-box-shadow: -3px 7px 9px -1px rgba(37, 37, 37, 0.29);
    box-shadow: -3px 7px 9px -1px rgba(37, 37, 37, 0.29);
    background-color: rgb(24, 23, 23);
    padding: 0;
    position: relative;
}

.header a {
    font-family: 'Open Sans Condensed', sans-serif;
    color: aliceblue;
}

.header a:hover {
    color: rgb(173, 173, 173);
} */